export("make.dex.set.object", "agdex","write.agdex.result", "read.agdex.result","agdex.scatterplot", "get.gset.result.details", "read.agdex.gset.details", 
"write.agdex.gset.details")
importFrom(stats, sd)
